{% extends 'main/base.html' %}

{% block title %}
  Account | Home Page
{% endblock %}

{% block heading %}
    Students
{% endblock %}

{% block name %}
  {{ account.name  }}
{% endblock %}

{% block url %}
    {% url 'main:account_profile'%}
{% endblock %}

{% block form-action %}
    {% url 'main:account_profile'%}
{% endblock %}

{% block NotApproved %}
      {%for stud in students %}
          {% if stud.account_approval == False %}
                         <p align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="{{ stud.webmail }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ stud.roll }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ stud.name }}</p>
          {% endif %}
      {% endfor %}
{% endblock %}
{% block Approved %}
      {%for stud in students %}
          {% if stud.account_approval == True %}
                         <p align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" checked name="{{ stud.webmail }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ stud.roll }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ stud.name }}</p>
          {% endif %}
      {% endfor %}
{% endblock %}